*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  cursor: default;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    column-gap: 30px;
}

.result__video-container {
    position: relative;
    width: 711px;
    height: 386px;
}

.result__video {
		width: 100%;
		height: 100%;
		object-fit: fill;
    cursor: pointer;
}

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.search-form__fieldset {
   margin-top: 16px;
	border: none;
}

.search-form__fieldset-title {
    font-size: 18px;
		font-weight: 400;
    padding-bottom: 5px;
}

.search-form__label {
    width: fit-content;
    margin-right: 13px;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 2px;
    transition: 0.3s;
}

.search-form__label:has(:active) {
    outline: none;
}

.search-form__label:last-child {
    padding-right: 0px;
}

.search-form__label-text {
    cursor: pointer;
}

.search-form__label-text:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}
.search-form__textfield {
    min-width: 225px;
    font-family: inherit;
    font-size: inherit;
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    appearance: none;
}

.search-form__textfield:focus {
    outline: 0;
}

.search-form__textfield:active {
    border: 1px solid #fff;
    transition: 0.5s;
}

.search-form__pseudo-checkbox {
    cursor: pointer;
		position: relative;
    display: inline-block;
    vertical-align: text-top;
    width: 19px;
    height: 19px;
    border: 1px solid #fff;
}

.search-form__pseudo-checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    background-color: #fff;
    opacity: 0;
    transition: 0.2s;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
    opacity: 1;
}

.search-form__pseudo-checkbox:hover ~  .search-form__label-text {
		text-decoration: underline;
		text-underline-offset: 3px;
}

.search-form__submit-button {
    padding: 6px 73.5px;
    align-self: flex-end;
}

.search-form__submit-button:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.search-form__submit-button:active {
    background-color: #545050;
    transition: 0.1s;
}

.search-form__submit-button:focus-visible {
    outline: 1px solid #ffffff;
    outline-offset: 3px;
    transition: 0.2s;
}

.title {
    width: 100%;
    height: 100%;
    font-family: Oswald, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 94%;
    text-transform: uppercase;
    padding-bottom: 26px;
}

.content__accent {
    color: #545050;
}

.content__list {
    position: relative;
    width: 416px;
    height: 298px;
    overflow-y: auto;
    padding-left: 6px;
}

/* Template */

.cards-list-item-template {
    flex: 1;
}
.content__list-item {
    margin-bottom: 30px;
}

.content__list-item:last-child {
    margin: 0;
}

.content__list-item:has(:active) {
    background-color: #545050;
    text-decoration: none;
}

.content__list-item:has(:focus-visible) {
    outline: 1px solid #fff;
}

.content__card-link {
    text-decoration: none;
    color: #fff;
    outline: 0;
}

.content__card-link:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.content__card-link:active {
    text-decoration: none;
}

.content__video-card {
    display: flex;
    align-items: flex-start;
}

.content__video-card-description-container {
    flex: 1 0;
}

.content__video-card-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.content__video-card-description {
    line-height: 16.2px;
}

.content__video-card-thumbnail {
    width: 194px;
    height: 103px;
}

.button {
    cursor: pointer;
    color: #fff;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    background: none;
    border: 1px solid #fff;
}

.more-button {
    width: 100%;
    padding: 6px 0;
}
